<div>
    <ul><h3>Departments</h3>
        <li *ngFor="let department of departments"><a href="" (click)="getFilteredEmployeeList(department, 'Department')">{{department}}</a></li>
    </ul>
    <ul><h3>Offices</h3>
        <li *ngFor="let office of offices"><a href="" (click)="getFilteredEmployeeList(office, 'Office')">{{office}}</a></li>
    </ul>  
    <ul><h3>Job Titles</h3>
        <li *ngFor="let jobTitle of displayJobTitles" (click)="getFilteredEmployeeList(jobTitle, 'Job Title')"><a href="">{{jobTitle}}</a></li>
    </ul>
</div>
