@import '../../styles.scss';

div {
	width: 390px;
	padding-left: 5%;

	ul {

		.headingMargin {
			margin-top: 10%;
		}

		li{
			font-size: 22px;
			list-style: none;

			a{
				text-decoration: none;
				cursor: pointer;
				color: $paragraph-color;
			}

			a:hover {
				text-decoration: underline;
				color: blue;
			}
		}
	}

	.toggleButton {
		color: blue;
		border: none;
		outline: none;
		background-color: white;
		font-size: 20px;
		font-weight: 600;
		transition: 0.4s;
		cursor: pointer;
		margin-left: 2rem;
	}
}