@import '../../styles.scss';

div {
	width: 390px;
	padding-left: 5%;

	ul {
		margin-bottom: 15%;

		li{
			font-size: 22px;
			list-style: none;

			a{
				text-decoration: none;
				cursor: pointer;
				color: $paragraph-color;
			}

			a:hover {
				text-decoration: underline;
				color: blue;
			}
		}
	}
}