<div class="container">
    <div class="d-flex">
        <div class="col-6">
            <div>
                <img src="assets/saketa-logo.png" alt="Saketa Logo" class="logo">
            </div>
            <div class="heading">
                <h1>Employee Directory</h1>
                <p>The Ultimate People Directory Experience</p>
            </div>
        </div>
        <div class="welcomeUser d-flex col-6">
            <div><h1 class="welcome">Welcome, </h1></div>
            <div><h1 class="userName"> {{employeeName}}</h1></div>
            <div><img src="../../assets/myPic.jpg" alt="userPic" class="profilePic"></div>
        </div>
    </div>
    <hr>
</div>
