h1{
    font-size: 28px;
    font-weight: 600;
    align-items: center;
}
.container{

    #submit{
        align-items:center;
        margin-left: 35%;
    }

    #cancel{
        align-items: center;
        margin-left: 10%;
    }
}