<button type="button" class="btn-close" mat-button [mat-dialog-close]="true"></button>
<div class="profilePopup">
    <img src={{employee.imageUrl}} alt="employeePic">
    <h1>{{employee.preferredName}}</h1>
    <p class="profileDescription"><span>First Name :</span> {{employee.firstName}}</p>
    <p class="profileDescription"><span>Last Name :</span> {{employee.lastName}}</p>
    <p class="profileDescription"><span>Email :</span> {{employee.email}}</p>
    <p class="profileDescription"><span>Job Title :</span> {{employee.jobTitle}}</p>
    <p class="profileDescription"><span>Office :</span> {{employee.office}}</p>
    <p class="profileDescription"><span>Department</span> {{employee.department}}</p>
    <p class="profileDescription"><span>Phone No. :</span> {{employee.telephone}}</p>
    <p class="profileDescription"><span>Skype Id :</span> {{employee.skypeId}}</p>
    <button class="btn btn-primary" type="button" value="Edit">Update</button>
    <button class="btn btn-secondary" id="delete" value="Delete" mat-button [mat-dialog-close]="true" (click)="deleteEmployee(employee.id)">Delete</button>
</div>